.footer {
  padding: 2.5rem 1rem;
}

.footer .nav-link {
  padding-left: 0;
}

.footer-copyright {
  padding: 2.5rem 1rem;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.footer-copyright p:last-child {
  margin-bottom: 0;
}
